    <!-- <div class = "contact">

      <h2><strong>contact us</strong></h2>

      <div class="contcontainer">

        <div class="row">
          <div class="column">
            <form name = "contactUs" method="post" >
              <input type="text" name="name" placeholder="Name..">
            </div> -->

            <!-- <div class="column">
              <input type="text" name="email" placeholder="Email.."  >
            </div>
            <textarea id="subject" name="subject" placeholder="Your message here .." style="height:170px" ></textarea>
            <input type="submit" value="Submit" >
          </form>
        </div>
      </div>
    </div> -->
