<app-charity-registration-form>

</app-charity-registration-form><!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Getting Started</h6>
        <p> We are here to make it easier for you to donate and see the work of your donations. </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Get Support</h6>
        <p>
          <a href="#!">Contact Us</a>
        </p>
        <p>
          <a href="#!">FAQ</a>
        </p>
        <p>
          <a href="#!">Privacy</a>
        </p>
        <p>
          <a href="#!">Terms</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">About</a>
        </p>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become a Charity</a>
        </p>

        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-home mr-3"></i> Nairobi, Kenya </p>
        <p>
          <i class="fa fa-envelope mr-3"></i> donations@autodona.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 254 712 345 678</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 254 20 123 456</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->


      <!-- Grid column -->
      <div class="d-flex justify-content-center">

        <!--Copyright-->
        <p class="text-center">© 2020 Copyright:
          <a href="https://automateddonations.com/">
            <br>
            <strong> Automated Donations</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
       <div class="d-flex justify-content-center">
      <!-- <div class="col-md-5 col-lg-4 ml-lg-0"> -->

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <!--Facebook-->
              <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fa fa-facebook-f"></i></a>
              <!--Twitter-->
              <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fa fa-twitter"></i></a>

              <!--Instagram-->
              <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fa fa-instagram"></i></a>


              <!--Youtube-->
              <a class="btn-floating btn-lg btn-yt" type="button" role="button"><i class="fa fa-youtube"></i></a>
              <!--Email-->
              <a class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fa fa-envelope"></i></a>

              <!--WhatsApp-->
              <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button"><i
                  class="fa fa-whatsapp"></i></a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    <!-- </div> -->
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
