<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="list-charities">
      <div class="form-group">
          <select name="charities" id="charity" class="btn btn-primary">
              <option value="">Kenya Muslim Charitable Society - Nairobi</option>
              <option value="">Concern Worldwide - Nairobi</option>
              <option value="">Light and Hope for the Disabled Children - Nairobi</option>
              <option value="">The Kenya Charity Sweepstake - Nairobi</option>
              <option value="">Rafiki Foundation - Nairobi</option>
              <option value="">Energy 4 Impact - Nairobi</option>
              <option value="">Kayole Mtaa Safi Initiative - Nairobi</option>
              <option value="">Little Sisters of the Poor - Mombasa</option>
              <option value="">Hope for Hope - Mombasa</option>
              <option value="">Bahman Charitable Foundation - Mombasa</option>
              <option value="">Undugu Mentorship Initiative - Mombasa</option>
              <option value="">Giselle Foundation - Kisumu</option>
              <option value="">Omega Foundation - Kisumu</option>
              <option value="">Cohesu - Kisumu</option>
              <option value="">Plan international - Kisumu</option>
              <option value="">Utugi Angels - Nakuru</option>
              <option value="">PSI Nakuru - Nakuru</option>
              <option value="">Philanthropy - Nakuru</option>
              <option value="">Kitendo Children Charity slum project - Naivasha</option>
          </select>
      </div>
  </div>
  </div>
  <div class="col-md-3"></div>
</div>