<div class = "container">
  <div class = "about">
  <h1> What and why we do what we do </h1>
  <hr/>


<h2>
  <ul>
    <li>Automated-Donations comes in to assist school girls in most sub-saharan countries, these young girls are unable to access pads and other supplies needed for their periods.</li>
 <br/>
    <li> Studies done by the ministry of education revealed girls from poor families miss 20 % of school days in a year due to lack of sanitary towels.</li>
 <br/>
<li> The data indicated that a girl in primary school between class 6 and 8 can lose up to 18 weeks out of 108 weeks while those in high school can lose almost 24 weeks out of 144 weeks of learning. </li>
    <br/>

<li>Automated-Donations enables repeat donations for donors. Our platform  allows users to donate to  charity/charities such as this one  regularly, to enable young school girls continue with their school program with ease.</li>
 <br/>
<li> We 100% automates the donation process by allowing donors  to set up regular donations e.g  monthly donations of stipulated amounts. </li>
 <br/>
<li>We are dedicated to dealing with this problem by not only providing sanitary towels but also providing clean water and sanitation facilities such as toilets to ensure they are able to meet the guidelines for proper menstrual hygiene as defined by UNICEF. </li>
</ul>
</h2>
</div>
<hr>
