<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p> Lets contribute towards a better world in just 30 seconds</p>
      <input type="submit" name="" value="Login" onclick="window.location='login';"><br />
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Register</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row register-form">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="first_name">First name</label>
                  <input type="text" class="form-control" id="first_name" placeholder="First name"
                    formControlName="first_name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                  <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                    <div *ngIf="f.first_name.errors.required">First name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="last_name">Last name</label>
                  <input type="text" class="form-control" id="last_name" placeholder="Last name"
                    formControlName="last_name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                  <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                    <div *ngIf="f.last_name.errors.required">Last name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Username"
                    formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>

                <div class="form-group d-flex flex-column">
                  <label for="" class="m-0">Email</label>
                  <label>
                    <input value=1 checked type="radio" formControlName="is_charity" name="is_charity" class="ml-2">
                    Charity
                  </label>
                  <label>
                    <input value=0 type="radio" formControlName="is_charity" name="is_charity" class="ml-2"> Donor
                  </label>

                </div>

              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <input type="password" formControlName="password2" class="form-control" id="password2"
                    placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }">
                  <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                    <div *ngIf="f.password2.errors.required">Confirm Password is required</div>
                  </div>
                </div>


                <div class="form-group">
                  <!-- <input [(ngModel)]="register.username" type="text" class="form-control" placeholder="Username *" > -->
                  <input type="text" class="form-control" id="username" placeholder="Username"
                    formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>


                  <button [disabled]="loading"  class="btnRegister"> Register</button>
                </div>
              </div>
            </div>

            </form>
        </div>
      </div>
    </div>
  </div>
</div>
