  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav" style="height: 50px; margin-top: 20px;">
         <span><mat-icon>eco</mat-icon>Let's-Donate</span>
        <nav class="navbar">
          <mat-toolbar color="primary" class="mat-elevation-z9">
             <span><mat-icon>eco</mat-icon>Let's-Donate</span>
          <div class="spacer"></div> -->
<!--
             <a mat-button routerLink="home"> Home</a>
             <a mat-button routerLink="services">Services</a>
             <a mat-button routerLink="about">About Us</a>
             <a mat-button routerLink="charities">Charities</a>




             <div class="dropdown">
              <button mat-raised-button color="accent">Register
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content"> -->
                 <!-- <a href="#">signup</a>
                <a href="#">login</a>

              </div>
            </div>


          </mat-toolbar>
          </nav> -->


 <!-- <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Address Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
                </li>
            </ul>
        </div>
    </nav> -->


    <!-- <nav class="navbar">
    <mat-toolbar color="primary" class="mat-elevation-z9">
       <span><mat-icon>eco</mat-icon>Let's-Donate</span>
    <div class="spacer"></div>

       <a mat-button routerLink="home"> Home</a>
       <a mat-button routerLink="services">Services</a>
       <a mat-button routerLink="aboutus">About Us</a>
       <a mat-button routerLink="donations">Donations</a>




       <div class="dropdown">
        <button mat-raised-button color="accent">Register
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">signup</a>
          <a href="#">login</a>

        </div>
      </div>


    </mat-toolbar>
    </nav> -->
  <!-- <div  class="navbar navbar-light bg-transparent justify-content-between"> -->
  <!-- <a clas/s="navbar-brand"></a> -->
  <!-- <form class="form-inline justify-content-between" > -->
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    <!-- <button onclick="location.href = 'donate';" class="btn btn-warning my-2 my-sm-0" type="submit" >Donate</button> -->
  <!-- </form> -->
  <!-- <nav> -->



<!-- <nav class="navbar" color="primary">
<mat-toolbar color="primary" class="mat-elevation-z0">
   <span><mat-icon>eco</mat-icon>Let's-Donate</span>
<div class="spacer"></div>

   <a mat-button routerLink="home"> Home</a>
   <a mat-button routerLink="charities">Charities</a>
   <a mat-button routerLink="about">About Us</a>
   <a mat-button routerLink="donate">Donate</a>




   <div class="dropdown">
    <button mat-raised-button color="warning">Register
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">signup</a>
      <a href="#">login</a>

    </div>
  </div>


</mat-toolbar>
</nav> -->
<!-- <div class="pull-right">
 <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
      <!-- <button onclick="location.href = 'donate';" class="btn btn-warning my-2 my-sm-0" type="submit">Donate</button>
    </form> -->
<!-- </div> --> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <span href="home" ><mat-icon>eco</mat-icon>
  <a class="navbar-brand" href="home"><strong>Lets Donate</strong></a></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charity">Charities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="testimonials">Testimonials</a>
      </li>

         </ul>

    <form class="form-inline my-2 my-lg-0">

      <li class="nav-item dropdown">
        <a class="nav-link" href="login" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register">Sign Up</a>
      </li>
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
      <button onclick="location.href = 'donate';" class="btn btn-primary my-2 my-sm-0" type="submit">Donate</button>
    </form>
  </div>
</nav>

