<div class="container-ian" style="text-align: center;">
    <h2 class="text-center">Create a new Story</h2>
    <hr>
    <form #homeForm='ngForm'>
        <div class="form-group">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
        </div>
        <div class="form-group">
            <label for="description">Description:</label><br>
            <textarea class="form-control" id="description" rows="4" required></textarea><br>
        </div>
        <div class="form-group">
            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location"><br>
        </div>
        <button type="submit" class="btn btn-success">Add a Story</button>
    </form>
</div>