<div class="container-fluid mb-5 text-center" style="text-align: center;">
    <h1 class="text-center">Add a Testimonial</h1>
    <hr>
    <form #userForm="ngForm">
        <div class="form-group">
  
            <label for="title">Title</label>
            <input type="text" required class="form-control" id="title" name = "title" ngModel>
  
        </div><br>
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" name = "description" ngModel required></textarea>
  
        </div><br>
        <div class="form-group">
  
            <label for="location">Location</label>
            <input type="text" required class="form-control" id="location" ngModel name="location">
  
        </div><br>
        <div class="form-group">
            <label for="posted">Posted on<br></label>
            <input type='date' id="posted" name = "posted" ngModel required>
  
        </div>
        <button class="btn-btn-success">submit</button>
      
    </form>
  </div>