<nav class="navbar"> 
    <mat-toolbar color="primary" class="mat-elevation-z9">
       <span><mat-icon>eco</mat-icon>Let's-Donate</span> 
    <div class="spacer"></div>
    
       <a mat-button routerLink="home"> Home</a>
       <a mat-button routerLink="services">Services</a>
       <a mat-button routerLink="aboutus">About Us</a>
       <a mat-button routerLink="donations">Donations</a>
    
    
    
    
       <div class="dropdown">
        <button mat-raised-button color="accent">Register
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">signup</a>
          <a href="#">login</a>
          
        </div>
      </div>
    
    
    </mat-toolbar>
    </nav>
