<nav class="navbar"> 
<mat-toolbar color="primary" class="mat-elevation-z9">
   <span><mat-icon>eco</mat-icon>Let's-Donate</span> 
<div class="spacer"></div>

   <a mat-button routerLink="home"> Home</a>
   <a mat-button routerLink="Aboutus">About Us</a>
   <a mat-button routerLink="testimonials">Testimonials</a>
   <button mat-raised-button color="accent">Donate
  </button>
  <!-- <li class="nav-item">
    <a routerLink="demo" class="nav-link">Demo</a>
  </li>
  <li class="nav-item">
    <a routerLink="add" class="nav-link">Add</a>
  </li> -->




  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Signup</a>
      <a href="#">Login</a>
      
    </div>
  </div>


</mat-toolbar>
</nav>