<nav class="navbar" class="collapse navbar-collapse justify-content-md-center" > 
    <mat-toolbar color="primary" class="mat-elevation-z9">
       <span><mat-icon>eco</mat-icon>Let's-Donate</span> 
    <div class="spacer"></div>
    
       <a mat-button routerLink="home"> Home</a>
       <a mat-button routerLink="services">Services</a>
       <a mat-button routerLink="aboutus">About Us</a>
       <a mat-button routerLink="donations">Donations</a>
    
    
    
    
       <div class="dropdown">
        <button mat-raised-button color="accent">Register
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">signup</a>
          <a href="#">login</a>
          
        </div>
      </div>
    
    
    </mat-toolbar>
    </nav>
    <!-- <main>
      <div class="container">
          <div class="row row-offcanvas row-offcanvas-right">
              <div class="col-xs-12 col-sm-9">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                      <li class="breadcrumb-item"><a routerLink="/register">login</a></li>
                      <li class="breadcrumb-item active">Courses</li>
                  </ol>
                  <div class="jumbotron">
                      <h1>Course Categories!</h1>
                      <p>This is a list of course categories, click on each to see a list of courses for a given category.</p>
                  </div>
                  <router-outlet></router-outlet>
              </div>
              <router-outlet name="sidemenu"></router-outlet>
          </div>
      </div>
  </main> -->

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav" style="height: 50px; margin-top: 20px;">
        <span><mat-icon>eco</mat-icon>Let's-Donate</span> 
        <nav class="navbar"> 
          <mat-toolbar color="primary" class="mat-elevation-z9">
             <span><mat-icon>eco</mat-icon>Let's-Donate</span> 
          <div class="spacer"></div>
          
             <a mat-button routerLink="home"> Home</a>
             <a mat-button routerLink="services">Services</a>
             <a mat-button routerLink="aboutus">About Us</a>
             <a mat-button routerLink="donations">Donations</a>
          
          
          
          
             <div class="dropdown">
              <button mat-raised-button color="accent">Register
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">signup</a>
                <a href="#">login</a>
                
              </div>
            </div>
          
          
          </mat-toolbar>
          </nav> -->
      
