
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container">
  <h1>About US</h1>
  <p>Founded by Phonix-Devs in 2020</p>
  <p>Automated-Donations comes in to assist school girls in most sub-saharan countries, these young-turks are unable to access pads and other supplies needed for their periods.The year 2016 studies from ministry of education revealed girls from poor families miss 20 % of school days in a year due to lack of sanitary towels the data indicated that a girl in primary school between class 6 and 8 can lose up to 18 weeks out of 108 weeks while those in high school can lose almost 24 weeks out of 144 weeks of learning. We are dedicated to dealing with this problem by not only providing sanitary towels but also providing clean water and sanitation facilities such as toilets to ensure they are able to meet the guidelines for proper menstrual hygiene as defined by UNICEF. 
  Automated-Donations enables repeat donations for donors. Our platform  allows users to donate to  charity/charities such as this one  regularly, to enable young school girls continue with their school program with ease. We 100% automates the donation process by allowing donors  to set up regular donations e.g  monthly donations of stipulated amounts.</p>





</div>
<div class="wat_we_do">
  <div class="text-wat_we_do">
      <h3>MAKE DONATION AS A DONOR</h3>
      <div class="table">
          <div class="row" >
              <div class="col-md-4">
                  <div class="design_icon center-block">
                      <div id="design_icon">
                          <img  src="https://bit.ly/3fLMfAe" height="150px" width="150px">
                          <div class="p-heading">
                              <p>STEP.1</p>
                          </div>
                      </div>
                      <div id="design-p">
                          <p>Create an account with us; Automated-Donations</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="dev_icon center-block">
                      <div id="dev_icon">
                          <img src="https://bit.ly/2VcJtw0" height= "150px" width="150px">
                          <div class="p-heading">
                              <p>STEP.2</p>
                          </div>
                      </div>
                      <div id="development">
                          <p>View various charities to offer donation to</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="product_icon">
                      <div id="product_icon">
                          <img src="https://bit.ly/37SHeDo" height="150px" width="150px">
                          <div class="p-heading">
                              <p>STEP.3</p>
                          </div>
                      </div>
                      <div id="pmanagent">
                          <p>Choose a charity to donate to.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="wat_we_do">
  <div class="text-wat_we_do">
      <h3>RECEIVE DONATIONS AS A CHARITY</h3>
      <div class="table">
          <div class="row" >
              <div class="col-md-4">
                  <div class="design_icon center-block">
                      <div id="design_icon">
                          <img  src="https://bit.ly/2zXslD8" height="150px" width="150px">
                          <div class="p-heading">
                              <p>STEP.1</p>
                          </div>
                      </div>
                      <div id="design-p">
                          <p>Apply to be a charity.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="dev_icon center-block">
                      <div id="dev_icon">
                          <img src="https://bit.ly/37VMc2b" height= "150px" width="150px">
                          <div class="p-heading">
                              <p>STEP.2</p>
                          </div>
                      </div>
                      <div id="development">
                          <p>View annonymous and non-annonymous donors and their donations.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="product_icon">
                      <div id="product_icon">
                          <img src="https://bit.ly/2Z0yp6w" height="150px" width="150px">
                          <div class="p-heading">
                              <p>STEP.3</p>
                          </div>
                      </div>
                      <div id="pmanagent">
                          <p>Check the total amount donated to the charity.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- <script
src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="js/script.js"></script> -->


