.container {
    background-image: url("https://bit.ly/3enw6kT");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: wheat;
  }

  #more {display: none;} 