<link
  href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Dancing+Script&family=Open+Sans+Condensed&family=Oswald:wght@300&display=swap"
  rel="stylesheet">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="list-charities">
      <div class="form-group">
          <select name="charities" id="charity" class="details" style="font-family: 'Oswald', sans-serif;">
              <option value="" style="font-family: 'Oswald', sans-serif;">Kenya Muslim Charitable Society - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Concern Worldwide - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Light and Hope for the Disabled Children - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">The Kenya Charity Sweepstake - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Rafiki Foundation - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Energy 4 Impact - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Kayole Mtaa Safi Initiative - Nairobi</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Little Sisters of the Poor - Mombasa</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Hope for Hope - Mombasa</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Bahman Charitable Foundation - Mombasa</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Undugu Mentorship Initiative - Mombasa</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Giselle Foundation - Kisumu</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Omega Foundation - Kisumu</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Cohesu - Kisumu</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Plan international - Kisumu</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Utugi Angels - Nakuru</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">PSI Nakuru - Nakuru</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Philanthropy - Nakuru</option>
              <option value="" style="font-family: 'Oswald', sans-serif;">Kitendo Children Charity slum project - Naivasha</option>
          </select>
      </div>
  </div>
  </div>
  <div class="col-md-3"></div>
</div>
