.details {
    /* background-color: wheat; */
    width: 570px;
    height: 40px;
    font-size: 20px;
    border-radius: 2%;
    font-family: 'Oswald', sans-serif;
}

option {
    font-family: 'Oswald', sans-serif;
}
