<!-- <div style="text-align: center">
  <h1> Sign up </h1>

  <input [(ngModel)]="register.username" placeholder="username"><br>
  <input [(ngModel)]="register.password" placeholder="password" type="password"><br>
  <input [(ngModel)]="register.email" placeholder="email"><br>
  <button (click)="registerUser()"> Register User</button>

</div> -->

<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p> Lets contribute towards a better world in just 30 seconds</p>
      <input type="submit" name="" value="Login" /><br />
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Donor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Charity</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Register as Donor</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input [(ngModel)]="register.first_name" type="text" class="form-control" placeholder="First Name *" >
                  <!-- <input [(ngModel)]="register.username" placeholder="username"><br> -->
              </div>
              <div class="form-group">
                <input [(ngModel)]="register.last_name" type="text" class="form-control" placeholder="Last Name *" >
              </div>
              <div class="form-group">
                <input [(ngModel)]="register.password" type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
              </div>
              <!-- <div class="form-group">
                <div class="gender">
                  <label class="radio inline">
                    <input type="radio" name="gender" value="male" checked>
                    <span> Individual </span>
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="gender" value="female">
                    <span> Organization </span>
                  </label>
                </div>
              </div> -->
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input [(ngModel)]="register.email" type="email" class="form-control" placeholder="Your Email *" value="" />
              </div>
               <div class="form-group">
                <input [(ngModel)]="register.username" type="text" class="form-control" placeholder="Username *" >
              </div>
              <!-- <div class="form-group">
                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                  placeholder="Your Phone *" value="" />
              </div> -->
              <!-- <div class="form-group">
                <select class="form-control">
                  <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                  <option>What is your Birthdate?</option>
                  <option>What is Your old Phone Number</option>
                  <option>What is your Pet Name?</option>
                </select>
              </div> -->
              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
              </div> -->
              <!-- <input type="submit" class="btnRegister" value="Register"> -->
              <button (click)="registerUser()" class="btnRegister" > Register</button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3 class="register-heading">Apply as a Charity Organization</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Organization Name *" value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Location *" value="" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
              </div>
              <div class="form-group">
                <input type="text" maxlength="10" minlength="10" class="form-control"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="Phone *" value="" required />
              </div>


            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
              </div>
              <div class="form-group">
                <select class="form-control">
                  <option class="hidden" selected disabled>Please select your Field of Work</option>
                  <option>Orphanages</option>
                  <option>Refugees</option>
                  <option>Children</option>
                  <option>Girls</option>
                  <option>Army Veterans</option>
                  <option>Other</option>

                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="`Amount needed *" value="" />
              </div>
              <input type="submit" class="btnRegister" value="Register" />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
