<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" class="nav-link" routerLink="/home">Home</a>
        <a class="navbar-brand" class="nav-link" routerLink="/aboutus">about us</a>
        <a class="navbar-brand" class="nav-link" routerLink="/profile">profile</a>
        <ul class="nav navbar-nav" routerLinkActive="active"> -->
            <!-- <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/aboutus">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/profile">profile</a></li> -->
        <!-- </ul>
    </div>
</nav> -->

<!-- <div style="text-align:center">
    <h1>{{ title }}</h1>
    <button (click)="onClick()" class="btn btn-primary">Click Me</button>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>

<button onclick="myFunction()" id="myBtn">Read more</button> -->


<!-- <a routerLink="register">Register</a> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav" style="height: 50px; margin-top: 20px;">
        <span><mat-icon>eco</mat-icon>Let's-Donate</span> 
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/profile">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/aboutus">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">How to participate<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Testimonials <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact us <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <br>
        <br>
        <br>
        <br>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown10">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown10">
              <a class="dropdown-item" href="#">Sign in</a>
              <a class="dropdown-item" href="#">Sign Up</a>
              <a class="dropdown-item" href="#">Get Started</a>
            </div>
          </li>
      </ul>
    </div>
  </nav> -->
<!-- <span><mat-icon>eco</mat-icon>Let's-Donate to enrich lives</span>  -->
<!-- <br>
<br> -->

<a routerLink="/profile">profile</a>
<a routerLink="/aboutus">aboutus</a>
<a routerLink="/home">home</a>
<router-outlet></router-outlet>
<app-navbar></app-navbar>


<app-home></app-home>

<!-- <app-login></app-login> -->


<app-footer></app-footer> 




