.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    align-items:center;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-2{
    padding: 9%;
    background: -webkit-linear-gradient(left, #2780E3, #312f2f);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    width:412px;
    margin:10vh auto;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color:#2780E3;
} */
/* .btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
} */
.btnForgetPwd{
    color: #495057;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color: #2780E3;
}
.btnRegister{
    color: #495057;
    font-weight: 600;
    text-decoration: none;
}
.btnRegister:hover{
    text-decoration:none;
    color:#2780E3;
}
/* You can add global styles to this file, and also import other style files
@import "~bootstrap/dist/css/bootstrap.css" */
.login{
    background: -webkit-linear-gradient(left, #2780E3, #312f2f);
    margin-top: 3%;
    padding: 3%;
    align-items:center;
}
.login-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    align-items:center;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.login .login-form{
    padding: 10%;
    margin-top: 10%;
    align-items:center;
}
.btnLogin{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:#2780E3;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.login .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #2780E3;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.login .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.login .nav-tabs .nav-link:hover{
    border: none;
}
.login .nav-tabs .nav-link.active{
    width: 100px;
    color: #2780E3;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.login-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
