<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">

    <h2 class="text-center">Make a Donation Here</h2>

    <form (ngSubmit)="submitDonor()" #donorForm="ngForm" name="">


      <div class="form-group">

        <label for="organization">Organization</label>
        <textarea class="form-control" id="organization" [(ngModel)]="newDonor.organization" name="organization"
          #organization="ngModel" required></textarea>

        <!-- <div [hidden]="organization.invalid|| organization.pristine" class="alert alert-danger">Organization is required</div> -->

      </div>


      <div class="form-group">

        <label for="description">Amount(Kes)</label>
        <textarea class="form-control" id="amount" [(ngModel)]="newDonor.amount" name="amount" #amount="ngModel"
          required></textarea>
        <div [hidden]="amount.invalid || amount.pristine" class="alert alert-danger">
          <p>Amount is required</p>
        </div>
      </div>

      <label for="description">Charity</label>
      <div class="form-group" style="margin-left: -200px;">

        <app-donor-details></app-donor-details>

      </div>

      <div class="form-group">
        <label for="Reminder">Reminder</label><br>
        <input type="radio" id="weekly" name="weekly" value="Weekly" style="margin-left: 30px;">
        <label for="reminder1"> Every week</label>
        <input type="radio" id="monthly" name="monthly" value="Month" style="margin-left: 30px;">
        <label for="reminder2">Every month</label>
        <input type="radio" id="quaterly" name="quaterly" value="Quaterly" style="margin-left: 30px;">
        <label for="reminder3">Quaterly</label><br>
        <input type="radio" id="quaterly" name="quaterly" value="Quaterly" style="margin-left: 30px;">
        <label for="reminder4">Quaterly</label>
        <input type="radio" id="halfly" name="halfly" value="halfly" style="margin-left: 50px;">
        <label for="reminder5">Twice</label>
        <input type="radio" id="yearly" name="yearly" value="Yearly" style="margin-left: 80px;">
        <label for="reminder6">Yearly</label>

      </div>

      <div class="form-group">
        <label for="calender">Calender</label>
        <input type='date' id="complete" required>

      </div>

      <button type="submit" class="btn-sm btn-primary"
        onclick="alert('Your donation has been received successfuly');">Donate</button>

    </form>


  </div>
</div>
