<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="home">
        <h1 class="title">Donate to save</h1>
        <p class="info">"When you sponsor a girl,
             your donation will fund life-
            <p class="cool">changing projects in your sponsored
                child's community"</p>
    </div>

    <div class="button">
        <a href="#" class="btn">GREATEST DONATIONS</a>
        <a href="#" class="btn">HELP</a>

    </div>
    <hr>
<h1 style="text-align: center;">
    <span ><mat-icon>eco</mat-icon>Top Fundraisers</span>
</h1> 
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://bit.ly/2Nrn9dK" alt="" style="width:100%; height: 200px;">
                <div class="container"><hr>
                    <h4><b>Priester's Pecans </b></h4>
                    <hr>
                    <p>Priester's Pecans has been providing top quality gourmet products to groups like yours over 80 years. Our #1 Goal is to make sure your fundraiser with our product is the best fundraiser your group will ever do.</p>
                    <hr>
                    <p>Location:Nairobi</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://bit.ly/2Vd9J9G" alt="" style="width:100%; height: 200px;">
                <div class="container"><hr>
                    <h4><b>GirlsNotBrides</b></h4><hr>
                    <p>Fundraising can be time consuming and challenging, especially if you are a small organisation. We have identified potential donors and opportunities to support your fundraising around child marriage.</p>
                    <hr>
                    <p>Location:Nairobi</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://bit.ly/3euRR1x" alt="" style="width:100%; height: 200px;">
                <div class="container"><hr>
                    <h4><b>ANESVAD</b></h4><hr>
                    <p>ANESVAD supports universal access to sexual and reproductive health. It works for the improvement of sexual and reproductive health in the poorest areas and regions of the counties in Kenya.</p>
                    <hr>
                    <p>Location:Nairobi</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://bit.ly/3i0pFpI" alt="" style="width:100%; height: 200px;">
                <div class="container"><hr>
                    <h4><b>Ford Foundation</b></h4><hr>
                    <p>Ford Foundation is working with visionary leaders and organizations to change social structures and institutions so that everyone has the opportunity to achieve their full potential and have a voice in decisions that affect them.</p><hr>
                    <p>Location:Nairobi</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
   

     


</body>

</html>